<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>todo-list</title>
</head>
<body>
    <header>
        <h2>todo-list</h2>
        <p>This is a simple todo-list app written in Python 3 with Flask and SQLAlchemy.<br>
        You can create, edit, delete and do whatever you want with them. Enjoy!</p>
    </header>
    <footer>
        <img src="/static/img/github-icon.png" alt="GitHub">
        <a href="https://github.com/nomilkinmyhome/todo-list">GitHub Repository</a>
    </footer>
</body>
</html>